<!DOCTYPE html>
<html>
<head>
    <title>AI Detection</title>
</head>
<body>

<h1>Upload Image</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>

<h2>Result:</h2>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

{% if image_url %}
    <img src="{{ image_url }}" width="600">
{% endif %}

{% if result %}
    <pre>{{ result }}</pre>
{% endif %}

</body>
</html>