/* src/App.css */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* OFFLINE BANNER */
.offline-banner {
  position: fixed;
  top: 0;
  width: 100%;
  background: crimson;
  color: white;
  text-align: center;
  padding: 6px;
  z-index: 2000;
  font-weight: 600;
}

/* CAMERA PANEL */
.camera-panel {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 1500;
}

/* MAP */
.map-area {
  width: 100%;
  height: 100%;
}

.leaflet-map {
  width: 100%;
  height: 100%;
}

/* POPUP IMAGE */
.popup-image {
  width: 120px;
  margin-top: 6px;
  border-radius: 6px;
  display: block;
}
